/* .test .markdown-preview-section div > pre{
    border: 1px solid green;
} */

.test .markdown-preview-section pre.language-aaazzz{
    margin: 0px;
    padding: 5px 10px;
    background-color: #555;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 15px solid rgba(0, 0, 0, 0.3);
    /* border: 1px solid red; */
    border-radius: var(--radius-s);
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.test .markdown-preview-section pre.language-aaazzz > code{
    color: rgb(154, 212, 183);
}
